*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Genos', sans-serif;
}

.header-container{
    display: flex;
    background-color:#021b42 ;
    padding:  0 1rem;
    position: sticky;
    top: 0;
    z-index: 2;

    .logo-container{
        width: 10%;
        color: #c53030;
        text-align: center;
        font-size: xx-large;
    }

    .nav-container{
        width: 90%;
        display: flex;
        justify-content: right;
        align-items: center;
        line-height: 100%;


        p{
            margin: 0 2rem;
            text-decoration: none;
            color: white;
            padding-bottom: 0.25rem;
            border: 1px solid #021b42;

            &:hover{
                border-bottom: 1px solid white;
                cursor: pointer;
            }
        }
    }
}

.main-container{
    padding: 0 1rem;
    background-color: black;
    

    .films-container{
        min-height: 100vh;

        .content-container{
            color: white;
            .search-container{
                height: 30px;
                margin-bottom: 2rem;

                label{
                    font-size: x-large;
                    line-height: 100%;
                }

                input{
                    height: 100%;
                    margin-left: 2rem;
                    font-size: large;
                }

                button{
                    margin-left: 2rem;
                    height: 100%;
                    padding: 0 0.5rem;
                    font-size: large;
                }
            }

        }

        .results-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            color: white;

            .film{
                width: 20%;
                display: flex;
                flex-direction: column;
                margin-bottom: 2rem;

                .img-container{
                    height: 450px;
                    width: 300px;
                    align-self: center;
                    position: relative;

                    &:hover{
                        cursor: pointer;

                        .film-image{
                            
                            img{
                                -webkit-filter: blur(2px);
                                filter: blur(2px) brightness(0.5);
                                
                            }
                        }
                        
                        .film-infos{
                            filter: opacity(1);
                        }    
                        
                    }

                    .film-image{
                        height: 450px;
                        width: 300px;
                        
                        .image-verifier{
                            
                            img{
                                height: 450px;
                                width: 300px;
                            }
                        }

                        .no-image{
                            border: 1px solid white;
                            h1{
                                text-align: center;
                                line-height: 450px;
                            }
                        }
                    }    

                    .film-infos{    
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        filter: opacity(0);
                        transition: all 0.4s ease-in-out;
                        transform: scale(1.05);

                        .original-title-container{
                            display: flex;
                        }
        
                        .language-container{
                            display: flex;
                            align-items: center;
                            
                            img{
                                height: 15px;
                                width: 20px;
                                margin-left: 0.5rem;
                            
                            }
                        }
        
                        .vote-container{
                            display: flex;
                            align-items: baseline;
        
                            p{
                                justify-self: center;
                            }
        
                            img{
                                height: 10px;
                                width: 15px;
                                filter: invert(1);
                                
                            }
                        }    
                    }
                }
            }
        }
    }    
}